.share {
    width: 74%;
    margin: 100px auto; /* Center horizontally */
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    background-color: rgb(248, 238, 226);
  }
  
  .shareWrapper {
    padding: 10px;
  }
  
  .shareTop {
    display: flex;
    align-items: center;
    height: 50px;
  }
  
  .shareProfileImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .shareInput::placeholder {
    color: rgb(142, 5, 101);
    font-style: italic;
  }
  
  .shareInput {
    border: none;
    width: 98%;
    height: 100px;
    color: rgb(142, 5, 101);
    font-size: 20px;
    margin-top: 70px;
  }
  
  .shareInput:focus {
    outline: none;
  }
  
  .shareHr {
    margin: 20px;
  }
  
  .shareMiddle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 20px;
  }
  
  .shareOptions {
    display: flex;
  }
  
  .shareIcon {
    font-size: 20px;
    margin-right: 3px;
  }
  
  .shareOptionText {
    font-size: 20px;
    font-weight: 500;
    color: rgb(142, 5, 101);
    cursor: pointer;
  }
  
  .shareBottom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  
  .shareButton {
    border: none;
    padding: 15px;
    border-radius: 5px;
    background-color: rgb(142, 5, 101);
    font-weight: 500;
    cursor: pointer;
    font-size: 20px;
    color: white;
    display: flex;
    align-items: center;
  }
  
  .sendIcon {
    margin-left: 8px;
  }
  
  .sendIcon:hover {
    color: black;
  }
  
  .shareImgContainer {
    padding: 0 20px 10px 20px;
    position: relative;
  }
  
  .shareImg {
    width: 100%;
    object-fit: cover;
  }
  
  .shareCancelImg {
    position: absolute;
    top: 0;
    right: 20px;
    cursor: pointer;
    opacity: 0.7;
  }
  
  .shareSingleOption {
    position: relative;
    display: inline-block;
    margin-right: 15px;
  }
  
  .sharedropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    background-color: rgb(248, 238, 226);
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  
  .sharedropdownItem {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .sharedropdownItem:hover {
    background-color: #45a049;
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 768px) {
    .share {
      width: 100%;
    }
  
    .shareInput {
      margin-top: 60px;
    }
  
    .shareMiddle {
      flex-direction: column;
      align-items: center;
    }
  
    .shareBottom {
      flex-direction: column;
      align-items: center;
    }
  }
  