.scroll {
    background-color: rgb(142, 5, 101);
    height: 80px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 5;
}

.scrolltext {
    color: white;
    font-size: 50px;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .scroll {
        height: 60px; 
    }

    .scrolltext {
        font-size: 40px; 
    }
}
