
.navbarContainer {
  height: 50px;
  width: 100%;
  background-color: rgb(142, 5, 101);
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  padding-top: 10px;
}

.navbarLeft {
  flex: 3;
}

.logo {
  font-size: 24px;
  margin-left: 20px;
  font-weight: bold;
  color: white;
}

.navbarCenter {
  flex: 6;
}

.searchbar {
  width: 100%;
  background-color: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.searchIcon {
  font-size: 30px !important;
  margin-left: 10px;
}

.searchInput {
  border: none;
}

.searchInput:focus {
  outline: none;
}

.navbarRight {
  flex: 6;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}

.navbarLink {
  margin-right: 10px;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.navbarLocation {
  background-color: rgb(142, 5, 101);
  margin-right: 10px;
  font-size: 18px;
  cursor: pointer;
  color: white;
  width: 150px;
}

.navbarIcons {
  display: flex;
  margin-right: 20px;
}

.navbarIconItem {
  margin-right: 20px;
  cursor: pointer;
  position: relative;
  color: white;
}

.navbarIconBadge {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  color: white;
  position: absolute;
  top: -5px;
  right: -5px;
  display: flex;
  align-items: center;
  font-size: 12px;
}

.navbarImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  margin-right: 20px;
}

.dropdown {
  float: left;
  overflow: hidden;
  margin-right: 30px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(248, 238, 226);
  min-width: 90px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 5px 5px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color:  #45a049;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdownListItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.dropdownIcon {
  margin-right: 15px;
}

.user {
  color: white;
  margin-right: 20px;
}

.districtDropdown {
  position: absolute;
  top: 60px;
  right: 260px;
  width:200px;
  background-color: rgb(248, 238, 226);
}

.districtDropdownItem {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: black;
 
}

.districtDropdownItem:hover {
  background-color:  #45a049;
}


/* Responsive Styles */
@media screen and (max-width: 768px) {
  .navbarContainer {
    padding-top: 5px;
  }

  .navbarLeft {
    flex: 2;
  }

  .navbarCenter {
    flex: 5;
  }

  .navbarRight {
    flex: 4;
  }

  .navbarImg {
    margin-right: 10px;
  }

  .dropdown {
    margin-right: 5px;
  }

  .user {
    margin-right: 10px;
  }
}
