.signup {
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../../public/assets/city/2\ image.jpg");
    background-size: cover;
    background-position: right;
}
.signupWrapper {
    width: 90%;
    height: 100%;
    display: flex;
}
.signupRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.signupLeft {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

.signupLogo {
    font-size: 55px;
    font-weight: 800;
    color: rgb(248, 238, 226);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 40px;

}

.signupDescription {
    font-size: 20px;
    margin: 20px;
    font-weight: 800;
    color: rgb(248, 238, 226);

}

.signup-box-container {
    max-width: 100%;
    margin-left: 100px;
    padding: 40px;
    border: solid rgb(142, 5, 101) 2px;
    border-radius: 5px;
    background-color: rgb(248, 238, 226);

}

.signup-row {
    display: flex;
    flex-wrap: wrap;
    margin: 15px -5px;

}

.signup-item {
    margin: 12px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 100%;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 500;
    color: rgb(142, 5, 101);
}

input {
    padding: 8px;
    margin: 5px 0;
    border-radius: 10px;
    width: 100%;
    color: rgb(142, 5, 101);
}

.radio-buttons {
    display: flex;
    align-items: center;
    margin: 2px;
}

.radio-buttons input {
    margin: 2px;
}

.radio-buttons label {
    margin: 2px;
}

.signupButton {
    width: 65%;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: rgb(142, 5, 101);
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    display: block;
 margin: auto;
}

.login-link {
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    color: rgb(142, 5, 101);
}