.rightbar {
  flex: 3;
}

.rightbarBox {
  width: 92%;
  height: auto; 
  border-radius: 10px;
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  margin-top: 20px;
  padding: 10px;
  list-style: none;
  background-color: rgb(248, 238, 226);
  display: flex;
  flex-direction: column;
}

.rigtbarWrapper {
  padding: 10px; 
  position: fixed;
  width: 25%;
  z-index: 50;
}

.rightbarListItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.rightbarIcon {
  margin-right: 15px;
}

.todaysEventsContainer {
  flex: 1;
  overflow-y: auto;
}

.todaysEventsList {
  margin-top: 20px;
  align-items: center;
}

.eventItem {
  margin: 20px;
}

.addEventButton {
  margin-top: 20px;
  padding: 10px;
  background-color: rgb(142, 5, 101);
  color: #fff;
  cursor: pointer;
  border: none;
  width: 97%; 
  border-radius: 10px;
}

.addEventButton:hover {
  background-color: #45a049;
}

.modalEvent {
  display: contents;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  z-index: 1000;
}

.modalContentEvent {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
}

.closeModalButton {
  position: relative;
  left: auto;
  right: 10px; 
  font-size: 20px;
  color: rgb(142, 5, 101);
  cursor: pointer;
}

.modalContentEvent form {
  display: flex;
  flex-direction: column;
}

.modalContentEvent label {
  margin-top: 10px;
}

.modalContentEvent input,
.modalContentEvent textarea {
  margin-bottom: 10px;
  padding: 5px;
}

.modalContentEvent button {
  padding: 10px;
  background-color: rgb(142, 5, 101);
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  width: 100px;
}

.modalContentEvent button:hover {
  background-color: #45a049;
}

.eventDelete {
  background-color: rgb(142, 5, 101);
  padding: 5px;
  color: #fff;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

.eventDelete:hover {
  background-color: #45a049;
}

/* Add this at the end of your CSS file */

@media screen and (max-width: 768px) {
  .rigtbarWrapper {
    width: 100%; /* Make the sidebar take up full width on smaller screens */
    position: static; /* Remove fixed positioning */
  }

  .rightbarBox {
   display: none;
  }
  .addEventButton {
   
    width: 50%; 
   font-size: 10px;
  }
  .modalEvent {
    display: flex !important; 
    flex-direction: column;
    position: absolute;
    right: 0;  
    width: 100%;
  }
}
